@font-face {
  font-family: "Clear Sans";
  src: url("../src/helper/clear-sans.regular.ttf") format("truetype");
}
body, html {
  overscroll-behavior: none;
  touch-action: manipulation;
}
body {
  display: flex;
  background-color: #57407c;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

.board {
  order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: #57407c;
  border-radius: 7px;
  outline: none;
  position: relative;
}

.board .cell,
.tile {
  user-select: none;
  cursor: default;
}

.details-box {
  display: flex;
  align-items: center;
  padding: 10px 10px 0;
  justify-content: space-between;
}
.how_to_play {
  cursor: default;
  opacity: .5;
  font-size: medium;
  user-select: none; 
  pointer-events: none; /* Запобігає клікам на елемент */
}
.resetButton {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 100px;
  align-items: center;
  background-color: #3d2963;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
  border-radius: 7px;
  transition: all 0.3s ease;
  transform: scale(1); 

  &:hover {
    background: radial-gradient(circle, #3287dc 30%, #3d2963 80%);
    color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    transform: scale(0.85, 0.93); 
  }

}


.score-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3d2963;
  color: rgba(255, 255, 255, 0.5);
  width: 210px;
  height: 100px;
  text-align: center;
  border-radius: 7px;
  &:hover {
    transform: scale(0.98); 
    color: #ffffffa8;
  }
}

.cell {
    position: relative;

}
.cell,
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #3d2963;
  &:hover {
    transform: scale(0.95); 
  }

}

.tile0 {
  background-color: #dcb;
  background-position: center;
  &:hover {
    transform: scale(0.95); 
  }
  
}

.tile2 {
  background-color: #eee;
  background-image: url(./img/2.gif);
  background-position: center;
  background-size: contain;
  &:hover {
    transform: scale(0.95); 
  }

}

.tile4 {
  background-color: #eec;
  background-image: url(./img/4.gif);
  background-position: center;
  background-size: contain;
}

.tile8 {
  color: #ffe;
  background-image: url(./img/8.gif);
  background-position: center;
  background-size: contain;
}

.tile16 {
  color: #ffe;
  background-image: url(./img/16.gif);
  background-position: center;
  background-clip: unset;
  background-size: contain;
}

.tile32 {
  color: #ffe;
  background-image: url(./img/32.gif);
  background-position: center;
  background-size: contain;
}

.tile64 {
  color: #ffe;
  background-image: url(./img/64.gif);
  background-position: center;
  background-size: contain;
}

.tile128 {
  color: #ffe;
  background-image: url(./img/128.gif);
  background-position: center;
  background-size: contain;
}

.tile256 {
  color: #ffe;
  background-image: url(./img/256.gif);
  background-position: center;
  background-size: contain;
}

.tile512 {
  background-position: center;
  background-size: contain;
  color: #ffe;
  background-image: url(./img/512.gif);
}

.tile1024 {
  background-size: contain;
  background-position: center;
  color: #fff;
  background-image: url(./img/1024.gif);
}

.tile2048 {
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0px;
  color: #fff;
  background-image: url(./img/2048.gif);
  font-size: 35px;
}

.try-again {
  z-index: 10;
  height: 100px;
  width: 100px;
  background-image: url(./img/try-again.gif);
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
  
}

.tile.new,
.overlay {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
  
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
  
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  border-radius: 7px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
}

.gameOver {
  background-size: contain;
  background-image: url(./img/game-over.gif);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.overlay .message {
  color: #666;
}

@media (max-width: 499px) {
  .body {
    width: 90vw;
    margin: auto;
  }

  .text {
    width: 100%;
    text-align: center;
  }

  .board {
    width: 90vw;
    height: 90vw;
    padding: 0;
    margin: 0 auto;
  }

  .details-box {
    font-size: 4.5;
    flex-direction: row;
    width: 86vw;
    height: 20vw;
    gap: 1vw;
    padding: 0;
    margin: 2vw 1vw 2vw 1vw;
  }

  .resetButton {
    font-size: 5vw;
  }

  .score-box{
    font-size: 4.5;
    flex-direction: row;
    .score-header {
      font-size: 5vw;
    }
    div {
      font-size: 7vw;
    }
  }

  .cell,
  .tile {
    width: 20vw;
    height: 20vw;
    margin: 1vw;
  }

}
